.playground {
    background-color: white;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.playground .rect {
    position: absolute;
    border: 1px #EEE solid;
    background-color: transparent;
}

.playground .rect:hover {
    cursor: default;
}
