.playground {
    background-color: white;
    cursor: default;
    position: relative;
    overflow: hidden;
}

.playground .rect {
    position: absolute;
    border: 1px #EEE solid;
    background-color: transparent;
}

.playground .rect:hover {
    cursor: default;
}

.playground .rect .mover {
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    bottom: -4px;
    right: -4px;
    border: 1px white solid;
    background-color: blue;
    cursor: se-resize;
    /*
    background-image: url('stop_white&16.png');
    */
}

.playground .rect .mover-se {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
}

.playground .rect .mover-sw {
    bottom: -4px;
    left: -4px;
    cursor: sw-resize;
}

.playground .rect .mover-nw {
    top: -4px;
    left: -4px;
    cursor: nw-resize;
}

.playground .rect .mover-ne {
    top: -4px;
    right: -4px;
    cursor: ne-resize;
}
